<%- include ("header") -%>

<h1>This is the about page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum esse repellendus, suscipit temporibus voluptate maxime vel accusamus doloribus expedita, mollitia, dolor blanditiis. Ipsa, et quis?</p>

<%- include ("footer") -%>